body{
  font-family:Noto Sans;
} 
.cardtitle{
  color: var(--foundation-black-normal, #000);
  /* NotoSans R/Desktop/T(RG) */
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

.presidentname{
  color: #000;
  font-family: Noto Sans;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.05rem;
}

.rectangle {
  width: 2px;
  height: 3.6rem;
  top: 0;
  left: 0;
}

.circle{
  --width: 200px;
  --percent: 60;
  --deg: calc(360deg * calc(var(--percent) / 100));
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  margin: 0px auto;
  background-image: conic-gradient(red var(--deg), #ccc var(--deg));
  position: relative;
}
.circle-inside{
  --bar-width: 30px;
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #eee;
  width: calc(var(--width) - var(--bar-width));
  height: calc(var(--width) - var(--bar-width));
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

