:root {
  --foundation-greenlight: rgba(243, 250, 245, 1);
  --foundation-greenlight-hover: rgba(237, 247, 240, 1);
  --foundation-greenlight-active: rgba(217, 239, 223, 1);
  --foundation-greennormal: rgba(132, 203, 152, 1);
  --foundation-greennormal-hover: rgba(119, 183, 137, 1);
  --foundation-greennormal-active: rgba(106, 162, 122, 1);
  --foundation-greendark: rgba(99, 152, 114, 1);
  --foundation-greendark-hover: rgba(79, 122, 91, 1);
  --foundation-greendark-active: rgba(59, 91, 68, 1);
  --foundation-greendarker: rgba(46, 71, 53, 1);
  --foundation-bluelight: rgba(233, 234, 237, 1);
  --foundation-bluelight-hover: rgba(222, 224, 228, 1);
  --foundation-bluelight-active: rgba(188, 190, 199, 1);
  --foundation-bluenormal: rgba(136, 148, 216, 1);
  --foundation-bluenormal-hover: rgba(34, 41, 66, 1);
  --foundation-bluenormal-active: rgba(30, 37, 58, 1);
  --foundation-bluedark: rgba(29, 35, 55, 1);
  --foundation-bluedark-hover: rgba(23, 28, 44, 1);
  --foundation-bluedark-active: rgba(17, 21, 33, 1);
  --foundation-bluedarker: rgba(13, 16, 26, 1);
  --foundation-brownlight: rgba(252, 246, 241, 1);
  --foundation-brownlight-hover: rgba(250, 241, 234, 1);
  --foundation-brownlight-active: rgba(245, 226, 212, 1);
  --foundation-brownnormal: rgba(223, 161, 117, 1);
  --foundation-brownnormal-hover: rgba(201, 145, 105, 1);
  --foundation-brownnormal-active: rgba(178, 129, 94, 1);
  --foundation-browndark: rgba(167, 121, 88, 1);
  --foundation-browndark-hover: rgba(134, 97, 70, 1);
  --foundation-browndark-active: rgba(100, 72, 53, 1);
  --foundation-browndarker: rgba(78, 56, 41, 1);
  --foundation-whitelight: rgba(255, 255, 255, 1);
  --foundation-whitelight-hover: rgba(255, 255, 255, 1);
  --foundation-whitelight-active: rgba(255, 255, 255, 1);
  --foundation-whitenormal: rgba(255, 255, 255, 1);
  --foundation-whitenormal-hover: rgba(230, 230, 230, 1);
  --foundation-whitenormal-active: rgba(204, 204, 204, 1);
  --foundation-whitedark: rgba(191, 191, 191, 1);
  --foundation-whitedark-hover: rgba(153, 153, 153, 1);
  --foundation-whitedark-active: rgba(115, 115, 115, 1);
  --foundation-whitedarker: rgba(89, 89, 89, 1);
  --foundation-blacklight: rgba(230, 230, 230, 1);
  --foundation-blacklight-hover: rgba(217, 217, 217, 1);
  --foundation-blacklight-active: rgba(176, 176, 176, 1);
  --foundation-blacknormal: rgba(0, 0, 0, 1);
  --foundation-blacknormal-hover: rgba(0, 0, 0, 1);
  --foundation-blacknormal-active: rgba(0, 0, 0, 1);
  --foundation-blackdark: rgba(0, 0, 0, 1);
  --foundation-blackdark-active: rgba(0, 0, 0, 1);
  --foundation-blackdarker: rgba(0, 0, 0, 1);
  --foundation-blackdark-hover: rgba(0, 0, 0, 1);
  --notosans-r-desktop-t-SM-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-t-SM-font-weight: 400;
  --notosans-r-desktop-t-SM-font-size: 14px;
  --notosans-r-desktop-t-SM-letter-spacing: 0px;
  --notosans-r-desktop-t-SM-line-height: 139.9999976158142%;
  --notosans-r-desktop-t-SM-font-style: normal;
  --notosans-r-desktop-t-XS-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-t-XS-font-weight: 400;
  --notosans-r-desktop-t-XS-font-size: 12px;
  --notosans-r-desktop-t-XS-letter-spacing: 0px;
  --notosans-r-desktop-t-XS-line-height: 139.9999976158142%;
  --notosans-r-desktop-t-XS-font-style: normal;
  --notosans-r-desktop-t-RG-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-t-RG-font-weight: 400;
  --notosans-r-desktop-t-RG-font-size: 16px;
  --notosans-r-desktop-t-RG-letter-spacing: 0px;
  --notosans-r-desktop-t-RG-line-height: 139.9999976158142%;
  --notosans-r-desktop-t-RG-font-style: normal;
  --notosans-r-desktop-t-MD-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-t-MD-font-weight: 400;
  --notosans-r-desktop-t-MD-font-size: 18px;
  --notosans-r-desktop-t-MD-letter-spacing: 0px;
  --notosans-r-desktop-t-MD-line-height: 139.9999976158142%;
  --notosans-r-desktop-t-MD-font-style: normal;
  --notosans-r-desktop-t-LG-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-t-LG-font-weight: 400;
  --notosans-r-desktop-t-LG-font-size: 20px;
  --notosans-r-desktop-t-LG-letter-spacing: 0px;
  --notosans-r-desktop-t-LG-line-height: 139.9999976158142%;
  --notosans-r-desktop-t-LG-font-style: normal;
  --notosans-r-desktop-h6-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h6-font-weight: 400;
  --notosans-r-desktop-h6-font-size: 20px;
  --notosans-r-desktop-h6-letter-spacing: 0px;
  --notosans-r-desktop-h6-line-height: 120.00000476837158%;
  --notosans-r-desktop-h6-font-style: normal;
  --notosans-r-desktop-h5-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h5-font-weight: 400;
  --notosans-r-desktop-h5-font-size: 24px;
  --notosans-r-desktop-h5-letter-spacing: 0px;
  --notosans-r-desktop-h5-line-height: 120.00000476837158%;
  --notosans-r-desktop-h5-font-style: normal;
  --notosans-r-desktop-h4-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h4-font-weight: 400;
  --notosans-r-desktop-h4-font-size: 32px;
  --notosans-r-desktop-h4-letter-spacing: 0px;
  --notosans-r-desktop-h4-line-height: 120.00000476837158%;
  --notosans-r-desktop-h4-font-style: normal;
  --notosans-r-desktop-h3-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h3-font-weight: 400;
  --notosans-r-desktop-h3-font-size: 40px;
  --notosans-r-desktop-h3-letter-spacing: 0px;
  --notosans-r-desktop-h3-line-height: 120.00000476837158%;
  --notosans-r-desktop-h3-font-style: normal;
  --notosans-r-desktop-h2-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h2-font-weight: 400;
  --notosans-r-desktop-h2-font-size: 48px;
  --notosans-r-desktop-h2-letter-spacing: 0px;
  --notosans-r-desktop-h2-line-height: 120.00000476837158%;
  --notosans-r-desktop-h2-font-style: normal;
  --notosans-r-desktop-h1-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-desktop-h1-font-weight: 400;
  --notosans-r-desktop-h1-font-size: 56px;
  --notosans-r-desktop-h1-letter-spacing: 0px;
  --notosans-r-desktop-h1-line-height: 120.00000476837158%;
  --notosans-r-desktop-h1-font-style: normal;
  --notosans-r-mobile-t-MD-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-t-MD-font-weight: 400;
  --notosans-r-mobile-t-MD-font-size: 16px;
  --notosans-r-mobile-t-MD-letter-spacing: 0px;
  --notosans-r-mobile-t-MD-line-height: 120.00000476837158%;
  --notosans-r-mobile-t-MD-font-style: normal;
  --notosans-r-mobile-t-LG-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-t-LG-font-weight: 400;
  --notosans-r-mobile-t-LG-font-size: 18px;
  --notosans-r-mobile-t-LG-letter-spacing: 0px;
  --notosans-r-mobile-t-LG-line-height: 120.00000476837158%;
  --notosans-r-mobile-t-LG-font-style: normal;
  --notosans-r-mobile-t-XS-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-t-XS-font-weight: 400;
  --notosans-r-mobile-t-XS-font-size: 11px;
  --notosans-r-mobile-t-XS-letter-spacing: 0px;
  --notosans-r-mobile-t-XS-line-height: 120.00000476837158%;
  --notosans-r-mobile-t-XS-font-style: normal;
  --notosans-r-mobile-t-SM-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-t-SM-font-weight: 400;
  --notosans-r-mobile-t-SM-font-size: 12px;
  --notosans-r-mobile-t-SM-letter-spacing: 0px;
  --notosans-r-mobile-t-SM-line-height: 120.00000476837158%;
  --notosans-r-mobile-t-SM-font-style: normal;
  --notosans-r-mobile-t-RG-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-t-RG-font-weight: 400;
  --notosans-r-mobile-t-RG-font-size: 14px;
  --notosans-r-mobile-t-RG-letter-spacing: 0px;
  --notosans-r-mobile-t-RG-line-height: 120.00000476837158%;
  --notosans-r-mobile-t-RG-font-style: normal;
  --notosans-r-mobile-h1-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h1-font-weight: 400;
  --notosans-r-mobile-h1-font-size: 40px;
  --notosans-r-mobile-h1-letter-spacing: 0px;
  --notosans-r-mobile-h1-line-height: 120.00000476837158%;
  --notosans-r-mobile-h1-font-style: normal;
  --notosans-r-mobile-h3-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h3-font-weight: 400;
  --notosans-r-mobile-h3-font-size: 24px;
  --notosans-r-mobile-h3-letter-spacing: 0px;
  --notosans-r-mobile-h3-line-height: 120.00000476837158%;
  --notosans-r-mobile-h3-font-style: normal;
  --notosans-r-mobile-h6-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h6-font-weight: 400;
  --notosans-r-mobile-h6-font-size: 16px;
  --notosans-r-mobile-h6-letter-spacing: 0px;
  --notosans-r-mobile-h6-line-height: 120.00000476837158%;
  --notosans-r-mobile-h6-font-style: normal;
  --notosans-r-mobile-h5-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h5-font-weight: 400;
  --notosans-r-mobile-h5-font-size: 18px;
  --notosans-r-mobile-h5-letter-spacing: 0px;
  --notosans-r-mobile-h5-line-height: 120.00000476837158%;
  --notosans-r-mobile-h5-font-style: normal;
  --notosans-r-mobile-h4-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h4-font-weight: 400;
  --notosans-r-mobile-h4-font-size: 20px;
  --notosans-r-mobile-h4-letter-spacing: 0px;
  --notosans-r-mobile-h4-line-height: 120.00000476837158%;
  --notosans-r-mobile-h4-font-style: normal;
  --notosans-r-mobile-h2-font-family: "NotoSans-Regular", Helvetica;
  --notosans-r-mobile-h2-font-weight: 400;
  --notosans-r-mobile-h2-font-size: 32px;
  --notosans-r-mobile-h2-letter-spacing: 0px;
  --notosans-r-mobile-h2-line-height: 120.00000476837158%;
  --notosans-r-mobile-h2-font-style: normal;
  --notosans-SB-desktop-t-XS-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-t-XS-font-weight: 600;
  --notosans-SB-desktop-t-XS-font-size: 12px;
  --notosans-SB-desktop-t-XS-letter-spacing: 0px;
  --notosans-SB-desktop-t-XS-line-height: 139.9999976158142%;
  --notosans-SB-desktop-t-XS-font-style: normal;
  --notosans-SB-desktop-t-SM-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-t-SM-font-weight: 600;
  --notosans-SB-desktop-t-SM-font-size: 14px;
  --notosans-SB-desktop-t-SM-letter-spacing: 0px;
  --notosans-SB-desktop-t-SM-line-height: 139.9999976158142%;
  --notosans-SB-desktop-t-SM-font-style: normal;
  --notosans-SB-desktop-t-RG-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-t-RG-font-weight: 600;
  --notosans-SB-desktop-t-RG-font-size: 16px;
  --notosans-SB-desktop-t-RG-letter-spacing: 0px;
  --notosans-SB-desktop-t-RG-line-height: 139.9999976158142%;
  --notosans-SB-desktop-t-RG-font-style: normal;
  --notosans-SB-desktop-t-MD-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-t-MD-font-weight: 600;
  --notosans-SB-desktop-t-MD-font-size: 18px;
  --notosans-SB-desktop-t-MD-letter-spacing: 0px;
  --notosans-SB-desktop-t-MD-line-height: 139.9999976158142%;
  --notosans-SB-desktop-t-MD-font-style: normal;
  --notosans-SB-desktop-t-LG-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-t-LG-font-weight: 600;
  --notosans-SB-desktop-t-LG-font-size: 20px;
  --notosans-SB-desktop-t-LG-letter-spacing: 0px;
  --notosans-SB-desktop-t-LG-line-height: 139.9999976158142%;
  --notosans-SB-desktop-t-LG-font-style: normal;
  --notosans-SB-desktop-h6-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h6-font-weight: 600;
  --notosans-SB-desktop-h6-font-size: 20px;
  --notosans-SB-desktop-h6-letter-spacing: 0px;
  --notosans-SB-desktop-h6-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h6-font-style: normal;
  --notosans-SB-desktop-h5-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h5-font-weight: 600;
  --notosans-SB-desktop-h5-font-size: 24px;
  --notosans-SB-desktop-h5-letter-spacing: 0px;
  --notosans-SB-desktop-h5-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h5-font-style: normal;
  --notosans-SB-desktop-h4-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h4-font-weight: 600;
  --notosans-SB-desktop-h4-font-size: 32px;
  --notosans-SB-desktop-h4-letter-spacing: 0px;
  --notosans-SB-desktop-h4-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h4-font-style: normal;
  --notosans-SB-desktop-h3-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h3-font-weight: 600;
  --notosans-SB-desktop-h3-font-size: 40px;
  --notosans-SB-desktop-h3-letter-spacing: 0px;
  --notosans-SB-desktop-h3-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h3-font-style: normal;
  --notosans-SB-desktop-h2-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h2-font-weight: 600;
  --notosans-SB-desktop-h2-font-size: 48px;
  --notosans-SB-desktop-h2-letter-spacing: 0px;
  --notosans-SB-desktop-h2-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h2-font-style: normal;
  --notosans-SB-desktop-h1-font-family: "NotoSans-SemiBold", Helvetica;
  --notosans-SB-desktop-h1-font-weight: 600;
  --notosans-SB-desktop-h1-font-size: 56px;
  --notosans-SB-desktop-h1-letter-spacing: 0px;
  --notosans-SB-desktop-h1-line-height: 120.00000476837158%;
  --notosans-SB-desktop-h1-font-style: normal;
  --notosans-SB-moblie-t-XS-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-t-XS-font-weight: 700;
  --notosans-SB-moblie-t-XS-font-size: 11px;
  --notosans-SB-moblie-t-XS-letter-spacing: 0px;
  --notosans-SB-moblie-t-XS-line-height: 120.00000476837158%;
  --notosans-SB-moblie-t-XS-font-style: normal;
  --notosans-SB-moblie-t-SM-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-t-SM-font-weight: 700;
  --notosans-SB-moblie-t-SM-font-size: 12px;
  --notosans-SB-moblie-t-SM-letter-spacing: 0px;
  --notosans-SB-moblie-t-SM-line-height: 120.00000476837158%;
  --notosans-SB-moblie-t-SM-font-style: normal;
  --notosans-SB-moblie-t-RG-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-t-RG-font-weight: 700;
  --notosans-SB-moblie-t-RG-font-size: 14px;
  --notosans-SB-moblie-t-RG-letter-spacing: 0px;
  --notosans-SB-moblie-t-RG-line-height: 120.00000476837158%;
  --notosans-SB-moblie-t-RG-font-style: normal;
  --notosans-SB-moblie-t-MD-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-t-MD-font-weight: 700;
  --notosans-SB-moblie-t-MD-font-size: 16px;
  --notosans-SB-moblie-t-MD-letter-spacing: 0px;
  --notosans-SB-moblie-t-MD-line-height: 120.00000476837158%;
  --notosans-SB-moblie-t-MD-font-style: normal;
  --notosans-SB-moblie-t-LG-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-t-LG-font-weight: 700;
  --notosans-SB-moblie-t-LG-font-size: 18px;
  --notosans-SB-moblie-t-LG-letter-spacing: 0px;
  --notosans-SB-moblie-t-LG-line-height: 120.00000476837158%;
  --notosans-SB-moblie-t-LG-font-style: normal;
  --notosans-SB-moblie-h6-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h6-font-weight: 700;
  --notosans-SB-moblie-h6-font-size: 16px;
  --notosans-SB-moblie-h6-letter-spacing: 0px;
  --notosans-SB-moblie-h6-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h6-font-style: normal;
  --notosans-SB-moblie-h5-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h5-font-weight: 700;
  --notosans-SB-moblie-h5-font-size: 18px;
  --notosans-SB-moblie-h5-letter-spacing: 0px;
  --notosans-SB-moblie-h5-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h5-font-style: normal;
  --notosans-SB-moblie-h4-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h4-font-weight: 700;
  --notosans-SB-moblie-h4-font-size: 20px;
  --notosans-SB-moblie-h4-letter-spacing: 0px;
  --notosans-SB-moblie-h4-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h4-font-style: normal;
  --notosans-SB-moblie-h3-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h3-font-weight: 700;
  --notosans-SB-moblie-h3-font-size: 24px;
  --notosans-SB-moblie-h3-letter-spacing: 0px;
  --notosans-SB-moblie-h3-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h3-font-style: normal;
  --notosans-SB-moblie-h2-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h2-font-weight: 700;
  --notosans-SB-moblie-h2-font-size: 32px;
  --notosans-SB-moblie-h2-letter-spacing: 0px;
  --notosans-SB-moblie-h2-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h2-font-style: normal;
  --notosans-SB-moblie-h1-font-family: "NotoSans-Bold", Helvetica;
  --notosans-SB-moblie-h1-font-weight: 700;
  --notosans-SB-moblie-h1-font-size: 40px;
  --notosans-SB-moblie-h1-letter-spacing: 0px;
  --notosans-SB-moblie-h1-line-height: 120.00000476837158%;
  --notosans-SB-moblie-h1-font-style: normal;
  --shadow-hand: 0px 1px 0.800000011920929px 0px rgba(0, 0, 0, 0.5);
}
